* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.5;
   
    background-color: var(--body-clr);
}

:root {
    --clr-purple:  hsl(263, 55%, 52%);
    --clr-gray: hsl(217, 19%, 35%);
    --clr-black: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    --body-clr: hsl(0, 0%, 81%);
}
@media (min-width: 50em) {
    .all-profiles-container {
        gap: 1rem;
        display: grid;
        padding-block: 2rem;;
        width: min(95%, 70rem);
        margin-inline: auto;
        grid-template-columns: repeat(4, 1fr);
    }
    #profile-1 {
        background-color: var(--clr-purple);
        grid-column: span 2;
    }
    #profile-4{
        background-color: var(--clr-black);
        color: white;
        grid-column: span 2;
    }
    #profile-5 {
        background-color: white;
        color: black;
        grid-column: 4;
        grid-row: 1 / 3;
    }
}

.all-profiles-container {
    gap: 1rem;
    display: grid;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}
#profile-1 {
    background-color: var(--clr-purple);
    
}
#profile-2 {
    background-color: var(--clr-gray);
    color: white;
    padding: 1rem;

}
#profile-3 {
    background-color: white;
    color: black;
    padding: 1rem;
}
#profile-4{
    background-color: var(--clr-black);
    color: white;

}
#profile-5 {
    background-color: white;
    color: black;
}

.profile-1 {
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.image-and-text img{
    border-radius: 50%;
    border: 2px solid rgb(175, 107, 209);
}
.image-and-text {
    display: flex;
    margin-left: 1.1rem;
}
.titles {
    margin-left: 1rem;
}

h3 {
    opacity: 50%;
}
.review-text-top {
    margin-left: 1.1rem;
    padding: 5px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;

}
.review-text-bottom {
    opacity: 70%;
    padding: 5px;
    margin-left: 1.1rem;
}
